@import "./font.scss";

html {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}

// app global css in SCSS form
body {
  background: $white;
  font-family: "PingFang", "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#q-app {
  background: $white;
  box-shadow: 0px 0px 5px 0px $accent;
}

.q-layout,
.q-header,
.q-footer,
.q-page {
  max-width: 550px;
  margin: 0 auto;
  background: $secondary;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #212534;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

.q-toolbar {
  padding-top: env(safe-area-inset-top, 0);
  background: $primary;

  &__title {
    font-size: 16px;
  }
}

// .q-page {
// }

.q-page-container {
  padding-right: 0px !important;
  /* Overwrite Quasars padding-top calculation by code to avoid wrong offset in iOS PWA when
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> is used. */

  // padding-top: env(safe-area-inset-top);

  // padding-top: calc(50px + env(safe-area-inset-top)) !important;
  // margin-bottom: calc(70px + env(safe-area-inset-top) + env(safe-area-inset-bottom)) !important;
}

.q-page-container {
  &.is-low-safari {
    //background-color: lightblue;
    .game-right-platform {
      .game-lists {
        min-height: 520px;
      }
      #live-lists {
        min-height: 900px;
      }
      #fishing-lists {
        min-height: 130px;
      }
      #lottery-lists {
        min-height: 130px;
      }

      .platform-block .platform-img-frame {
        min-height: 120px;
      }
    }

    .login-container .logo img {
      height: 66px;
      width: 135px;
    }

    .acct-nav .acct-menu {
      height: 230px;
    }

    .affiliate-container .ambassador .ambassador-img {
      height: 140px;
    }
    .download-top-container .download-top-box {
      flex-wrap: nowrap;
    }
    .bank-detail-container .bank-detail-wrapper .bank-card .left-container .bank-name img {
      width: 30px;
      height: 30px;
    }
    .q-carousel.home {
      min-height: 150px;

      .q-panel > div {
        min-height: 150px;
      }
    }
    .promo .q-tabs {
      height: 60px;
      top: 0px;
    }
    .mail-inbox-list .title-div {
      height: 55px;
    }
    .q-footer .q-tab {
      text-align: center;
    }
  }
}

.title-div {
  p {
    margin: 0px;
  }
}

.q-scrollarea__content {
  width: 100%;
  height: 100%;
}

.q-dialog__inner--minimized {
  padding: 0;
}

.page-title {
  min-height: 40px;
  color: $font-2;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    display: block;
    position: absolute;
    left: 0;
    padding: 0;

    .back-icon {
      display: block;
      width: 12px;
      fill: $accent;
    }
  }
}

.text-bright {
  color: $primary;
}

.bg-bright {
  background: $linear-bg;
  color: #26e6fb !important;
}

.bg-brightbtn {
  background: $linear-bg;
  color: #ffffff;
}

.bg-lightbtn {
  color: #7a80a1 !important;
  background: #ffffff;
}

body.platform-ios .q-dialog__inner--minimized > div {
  max-height: calc(100% - 108px);
}

body.platform-ios {
  .home-game-section .game-right-platform .platform-block {
    min-height: 130px;
  }
}

body.body-applinks {
  .q-page-container {
    &::before {
      position: absolute;
      left: 1px;
      top: 1px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      content: "";
      background-color: green;
      z-index: 99;
    }
  }
}

body .q-header {
  padding: 3px 10px 8px;
  padding-top: calc(3px + env(safe-area-inset-top, 0));
  background: $secondary;

  &.with-shadow {
    box-shadow: 0px -6px 6px 0px #c3d4e6 inset;
  }
}

body .q-footer {
  padding-bottom: calc(1px + env(safe-area-inset-bottom, 0));
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -4px 15px 0px #dadada66;
}

svg {
  width: 25px;
  fill: $font-1;
}

.q-carousel.vip {
  height: auto;
  text-align: center;
}

.q-card {
  margin: 10px;
  border-radius: 10px;
}

.q-card__section--vert {
  padding: 0;
}

.login-card {
  .q-card__section--vert {
    padding: 10px;
  }
}

.q-footer .q-tab {
  padding: 0px 0px 0px;
  background: $white;
  color: $font-1;
  font-size: 1rem;

  img {
    width: 2rem;
    margin-bottom: 3px;

    &.inactive {
      display: block;
    }

    &.hover {
      display: none;
    }
  }

  .footer-icon {
    &.inactive {
      display: block;
    }

    &.hover {
      display: none;
    }
  }

  &__indicator {
    display: none;
  }

  &--active {
    color: $primary;
    font-weight: bold;

    img {
      &.inactive {
        display: none;
      }

      &.hover {
        display: block;
      }
    }

    .footer-icon {
      &.inactive {
        display: none;
      }

      &.hover {
        display: block;
      }
    }

    .inactive {
      display: none;
    }

    .hover {
      display: block;
    }
  }
}

.btn-pointer {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
  }
}

.box-width {
  width: $box-width;
  margin: auto;
}

.common-large-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-large-btn.png");
  background-size: 100% 100%;
  // aspect-ratio: 1000/114;
  font-size: 1.2rem;
  color: $white;
  border-radius: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.common-large-white-btn {
  background-color: $white;
  box-shadow: $shadow-bg;
  // aspect-ratio: 1000/114;
  font-size: 1.2rem;
  color: $font-1;
  border-radius: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.common-md-white-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-md-white-btn.png");
  background-size: 100% 100%;
  aspect-ratio: 286/96;
  font-size: 1.2rem;
  width: 115px;
  color: $font-1;
  border-radius: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.common-md-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-md-btn.png");
  background-size: 100% 100%;
  aspect-ratio: 286/96;
  font-size: 1.2rem;
  width: 95px;
  color: $white;
  border-radius: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.common-sm-white-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-sm-white-btn.png");
  background-size: 100% 100%;
  aspect-ratio: 190/96;
  font-size: 1.2rem;
  width: 95px;
  color: $font-1;
  text-align: center;
  border-radius: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.common-sm-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-sm-btn.png");
  background-size: 100% 100%;
  aspect-ratio: 190/96;
  font-size: 1.2rem;
  width: 95px;
  color: $white;
  border-radius: 10px;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.login-form-contaner {
  .q-field__marginal {
    margin-top: 5px;
  }
}

.color-font-1 {
  color: $font-1;
}

.m-auto {
  margin: auto;
}

.q-splitter--dark .q-splitter__separator {
  background: none;
}

.q-tabs--vertical .q-tab__indicator {
  display: none;
}

.text-brand {
  color: $primary;
}

.bg-brand {
  background: $primary;
}

.bg-darkbtn {
  background: #212534;
  color: #bacef1;
}

.q-field__marginal {
  font-size: 16px;
}

.q-field--filled.q-field--readonly .q-field__control:before {
  border-bottom: 0;
}

.q-field--readonly.q-field--float .q-field__native,
.q-field--readonly.q-field--float .q-field__input {
  color: #bacef1;
}

.q-field--standout.q-field--highlighted .q-field__control {
  background: initial;
  color: #000;
}

.q-field--standout.q-field--highlighted .q-field__native,
.q-field--standout.q-field--highlighted .q-field__append,
.q-field--standout.q-field--highlighted .q-field__input {
  color: #000;
}

.modal-common-div {
  .modalcontent {
    background: $white;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 6px 16px;
  }

  .headers {
    width: calc(100% - 16px);
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    height: 55px;
    line-height: 55px;
    background: $white;
    color: $primary;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 2px solid #ecedf0;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    > .q-btn {
      margin-left: auto;
    }

    .black-titles,
    .titles {
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
    }
  }

  .black-titles {
    color: $accent;
    font-size: 1rem;
  }

  .contents {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 12px 15px;
    text-align: center;
    color: $font-2;
    font-size: 1.2rem;

    .dialog-content-icon {
      width: 2.5rem;
      margin-bottom: 12px;
    }

    .contentfonts {
      text-align: center;
      color: #333;
      font-size: 16px;
      margin: 37px 0 20.5px 0;
    }

    .inputs {
      width: 292px;
      height: 36px;
      border-radius: 4px 4px;
      border: 1px solid #666;
      box-sizing: border-box;
      margin: 0 auto;
      padding-left: 20px;

      .van-field__control {
        height: 100%;
        width: 100%;
      }
    }
  }

  .btnsreas {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 20px;
    gap: 15px;

    .cacnels {
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      letter-spacing: 1px;
      max-width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    .confirmsbtns {
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      max-width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 1px;
    }
  }
}

.station-notice-wrapper {
  display: flex;
  gap: 10px;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  font-size: .75rem;
  box-shadow: 0px 4px 4px 0px #0000000F;
  background-color: #fff;

  .volume {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 24px;
      height: auto;
    }
  }

  span {
    margin-right: 10px;
    cursor: pointer;
    color: $font-1;
    
    display: inline-block;
    padding-top: 5px;
    margin-bottom: -20px;
  }
}

.bg-lyblue {
  // background: #0089ED;
  // background: linear-gradient(180deg, #52ACFF, #3559DA);
  background-color: #4c9dec;
  color: #ffffff;
}

// bottom navigation
.q-footer .q-layout__shadow:after {
  display: none;
}

.q-carousel {
  .q-carousel__arrow {
    color: #000;
  }
}

.body--dark {
  --q-primary: #{$primary-dark};

  .q-layout,
  .q-header,
  .q-page {
    background: $background-dark;
  }

  .q-header {
    background: #212b43;
    &.with-shadow {
      box-shadow: none;
    }
  }

  .q-footer {
    background: #0f182e;
  }

  .q-footer .q-tab img {
    width: 1.5rem;
  }
  .q-footer .q-tab span {
    font-size: 0.9rem;
  }

  .q-footer {
    box-shadow: none;
    height: 4rem;
    overflow: visible;

    .q-tabs {
      background: linear-gradient(to bottom, transparent 0%, transparent 32%, #0f182e 32%, #0f182e 100%);
      margin-top: -1.4rem;
    }
    .q-tab {
      height: 4em;
      align-self: flex-end;
      background: transparent;
      .q-tab__content {
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-self: center;
        padding: 0px;
        margin-top: 0px;
      }
      &:nth-child(3) {
        height: 5.2rem;
      }
      &--active {
        color: #fff;
      }
      &.q-hoverable {
        .q-focus-helper {
          height: unset;
          top: 1.7rem;
          bottom: 0;
          visibility: hidden;
        }
      }

      img {
        margin-bottom: 5px;
      }
    }
  }

  .q-toggle--dark .q-toggle__inner--truthy {
    color: #a98f7c;
  }
  .q-toggle {
    --q-positive: #a98f7c;
  }

  .page-title {
    color: $font-2-dark;
  }

  .station-notice-wrapper {
    font-size: 12px;
    background: linear-gradient(180deg, #384E79 2.08%, #2C3D61 47.5%, #212E4C 100%);
    span {
      color: #fff;
    }

    .volume {
      img {
        width: 20px;
        height: auto;
      }
    }
  }

  .modal-common-div {
    .modalcontent {
      @include content-block-dark;
    }

    .headers {
      background: transparent;
      border-bottom-color: #4d4d4d;
    }

    .headers,
    .contents,
    .black-titles {
      color: $font-3-dark;
    }
  }

  .login-container,
  .forgot-pass-container {
    .q-field--standout {
      .q-field__control {
        background: #273354;
        border: 1px solid #d9d9d94d;
        box-shadow: none;
        .input-icon-label-wrapper {
          .input-icon {
            filter: brightness(0) saturate(100%) invert(88%) sepia(100%) saturate(0%) hue-rotate(81deg) brightness(102%)
              contrast(104%);
          }
          .input-label {
            color: $white;
          }
        }
      }
    }
  }

  .q-field--standout.q-field--highlighted .q-field__control {
    color: $font-3-dark;
    background: #2a3346;
  }

  .q-field--standout.q-field--highlighted .q-field__native,
  .q-field--standout.q-field--highlighted .q-field__append,
  .q-field--standout.q-field--highlighted .q-field__input {
    color: $font-3-dark;
  }

  .q-drawer {
    background: $background-dark;
  }

  .q-carousel {
    .q-carousel__arrow {
      color: $white;
    }
  }

  .common-sm-btn {
    background: url("../assets/images/account/primary-btn.svg") no-repeat center center;
    background-size: cover;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #3a93ce;
    color: $white;
  }

  .common-sm-white-btn {
    background: url("../assets/images/account/secondary-btn.svg") no-repeat center center;
    background-size: cover;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #ffffff4d;
    color: $white;
  }

  .common-large-btn {
    background: url("../assets/images/account/primary-btn.svg") no-repeat center center;
    background-size: cover;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #3a93ce;
    color: $white;
  }

  .common-md-white-btn {
    background: url("../assets/images/account/primary-btn.svg") no-repeat center center;
    background-size: cover;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #3a93ce;
    color: $white;
  }

  .common-md-btn {
    background: url("../assets/images/account/primary-btn.svg") no-repeat center center;
    background-size: cover;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #3a93ce;
    color: $white;
  }

  .text-bright {
    color: rgba(255, 255, 255, 0.7);
  }

  .bg-brightbtn {
    background: url("../assets/images/account/secondary-btn.svg") no-repeat center center;
    background-size: cover;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid #ffffff4d;
    color: $white;
  }

  .livepoker-rebate-section {
    background: linear-gradient(178.46deg, #2d4065 2.36%, rgba(45, 64, 101, 0.4) 98.7%) !important;

    div {
      color: #fff !important;
    }
  }

  .livepoker-rebate-section-title {
    color: #fff !important;
  }

  .reward-info-content {
    color: #fff !important;
  }

  .livepoker-rebate-game-info {
    background: linear-gradient(178.46deg, #2d4065 2.36%, rgba(45, 64, 101, 0.4) 98.7%) !important;

    div,
    td,
    font {
      color: #fff !important;
    }
  }

  .slot {
    div {
      background: linear-gradient(178.46deg, #2d4065 2.36%, rgba(45, 64, 101, 0.4) 98.7%) !important;
      color: #fff !important;
    }
  }

  .livepoker-rebate-game-bottom-rule {
    background: linear-gradient(178.46deg, #2d4065 2.36%, rgba(45, 64, 101, 0.4) 98.7%) !important;

    div {
      color: #fff !important;
    }
  }

  .container,
  .container2 {
    background: linear-gradient(178.46deg, #2d4065 2.36%, rgba(45, 64, 101, 0.4) 98.7%) !important;

    p {
      color: #fff !important;
    }
    div {
      color: #fff !important;
    }
  }

  .q-menu--dark {
    box-shadow: none;
  }
  .q-date {
    background: linear-gradient(180deg, #384e79 2.08%, #2c3d61 47.5%, #212e4c 100%);
    border-radius: 8px;
  }
  .q-date__header {
    background: transparent;
  }
  .q-date__main {
    background: transparent;
  }
}

.notification-move,
.notification-enter-active,
.notification-leave-active {
  transition: opacity 0.5s ease, top 0.5s ease;
}

.notification-enter-from,
.notification-leave-to {
  opacity: 0;
}
