@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFangNormal.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FZHanZhenGuangBiaoS-GB";
  src: url("../fonts/FZHanZhenGuangBiaoS.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
