// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #468cff;
$secondary: #f3f7fd;
$accent: #424f72;

$dark: #333333;
$dark-page: #666;

$font-1: #7a80a1;
$font-2: #424f72;
$font-3: #6b7b95;
$font-4: #313441;

$grey-color: #a4aabb;

$black: #000000;
$white: #ffffff;
$positive: #24ae4b;
$negative: #f53434;

$info: #458bff;
$warning: #ffa031;

$lightblue: #e7f3ff;

$primary-dark: #3981ff;

$background-dark: #1A2338;
$background-dark-light: #2b3038;
$background-dark-header: #3e4756;

$border-dark: #4f535a;

$font-1-dark: #ffffff99;
$font-2-dark: #ffffff;
$font-3-dark: #ffffff;
$font-4-dark: #ffffff;

$box-width: calc(100% - 2rem);

$shadow-bg: 0px -2px 6px 2px #c3d4e6 inset;

$linear-bg: linear-gradient(270deg, #3080f4 0%, #70b1ff 100%);
$linear-bg-dark: linear-gradient(90deg, #36CBD5 0%, #1D809A 100%);
$linear-bg-180-dark: linear-gradient(180deg, #36CBD5 0%, #1D809A 100%);
$bg-blue: #a9c9ea;

$md-size: 18px;
$font-size: 16px;
$small-size: 13px;

@mixin content-block-dark {
  background: linear-gradient(180deg, #384E79 2.08%, #2C3D61 47.5%, #212E4C 100%);
  border: none;
  box-shadow: none;
}

@mixin content-block-dark-with-border {
  @include content-block-dark;
  border: 1px solid $border-dark;
}
