@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
  font-family: "Wave";
  src: url("../fonts/310-CAI978.ttf");
}

/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

/* Google Font - Dongle */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");

/* Google Font - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");

/* Google Font - Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
