$size-mobile-breakpoint: 700px;

$primary: #f6154c;
$secondary: #1e212c;
$accent: #fb2f62;

$dark-page: #666;

$font-0: #a4aabb;
$font-1: #7a80a1;
$font-2: #ffffff;
$font-3: #fd574c;
$font-4: #111827;
$font-5: #e1e1e1;

$font-blue: #f6154c;
$font-grey: #696d70;
$font-gold: #b8945d;

$dark: #ffffff;
$lightblue: #ffe7e7;
$darkblue: #1355ba;

$link-active: #f6154c;

$info: #fd574c;
$warning: #ffa031;
$color-positive: #349464;
$color-danger: #f53434;

$color-white: #fff;
$color-black: #000;

$box-shadow: 0px -2px 6px 2px #e6c3c3 inset;
$linear-bg: linear-gradient(180deg, #fd897e 0%, #fd3126 100%);
$linear-gold: linear-gradient(90deg, #e5cda5 0.87%, #b48f57 100%);
$linear-white: linear-gradient(180deg, #f8fbff 0%, #fdfeff 100%);

$shadow-header: 0px -20px 30px 0px #9eb4d269 inset, 0px -4px 5px 0px #ffffffd6 inset, 0px 4px 0px 0px #0000000f,
  0px 4px 10px 0px #0000001a;
$bg-blue: #a9c9ea;
$footer-black: #505e78;

$font-weight-bold: 600;
$font-size-m: 18px;
$font-size-l: 32px;

$color-danger-highlight: #c82333;

$maxwidth: 1600px;

$border-width: 1px;
$border-radius: 0.25rem;
$border: #2a313e;
$page-trans: all 0.5s ease-in-out;
