@import "./font.scss";

html {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

// app global css in SCSS form
body {
  //font-family: "Jura";
  background: #ffffff;
}

#q-app {
  // background: #11131f;
  background: #ffffff;
}

.q-layout,
.q-header,
.q-footer,
.q-page {
  max-width: 500px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  // display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #212534;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2de;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d2d2de;
}

.q-toolbar {
  padding-top: env(safe-area-inset-top, 0);
  background: #d2d2de;
}

.q-page-container {
  background: #ffffff;
  box-shadow:0px 0px 4px rgba(0,0,0,0.25);
  /* Overwrite Quasars padding-top calculation by code to avoid wrong offset in iOS PWA when
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> is used. */

  // padding-top: env(safe-area-inset-top);

  // padding-top: calc(50px + env(safe-area-inset-top)) !important;
  // margin-bottom: calc(70px + env(safe-area-inset-top) + env(safe-area-inset-bottom)) !important;
}

.q-scrollarea__content {
  width: 100%;
  height: 100%;
}

body.body--dark {
  background: #11131f;
}

body.body--dark .q-header {
  // background: url(../assets/images/common/bgheader.png) no-repeat top center;
  background: #212534;
  // border-radius: 0 0 20px 20px;
  background-size: cover;
}

.q-dialog__inner--minimized {
  padding: 0;
}

// body.platform-ios .q-dialog__inner--minimized > div, body.platform-android:not(.native-mobile) .q-dialog__inner--minimized > div {
//   max-height: unset;
// }
body.platform-ios .q-dialog__inner--minimized > div {
  max-height: calc(100vh - 108px);
}


.page-title {
  margin: 5px;
  color: #bacef1;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    display: block;
    position: absolute;
    left: 0;
    padding: 0;

    svg {
      display: block;
      width: 30px;
      padding-left: 10px;
      fill: #ffffff;
    }
  }
}

body.body--dark .q-header,
body.body--dark .q-footer,
body.body--dark .q-drawer {
  max-width: 500px;
  margin: 0 auto;
}

body.body--dark .q-header {
  padding: 3px;
  padding-top: calc(3px + env(safe-area-inset-top, 0));
}

body.body--dark .q-footer {
  padding-bottom: calc(1px + env(safe-area-inset-top, 0));
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

svg {
  width: 25px;
  fill: #ffffff;
}

.q-carousel.vip {
  height: auto;
  text-align: center;
}

.q-carousel.home {
  height: 60vw;
  max-height: 210px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);

  .q-panel > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .q-carousel__navigation--bottom {
    bottom: 30px;
  }
}

.q-card {
  margin: 10px;
  border-radius: 10px;
}

.q-card__section--vert {
  padding: 0;
}

.login-card {
  .q-card__section--vert {
    padding: 10px;
  }
}

.q-footer {
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 0px 0px #75757550;
  //overflow: hidden;
  font-size: 12px;

  .q-tabs {
    background: #d2d2de !important;
  }

  .q-tab {
    padding: 5px 0 0px;
    background: #ffffff;
    color: #929292;

    img {
      height: 18px;

      &.inactive {
        display: block;
      }

      &.hover {
        display: none;
      }
    }

    &__indicator {
      display: none;
    }

    &--inactive {
      opacity: 1;
    }

    &--active {
      color: #0089ED;

      img {
        &.inactive {
          display: none;
        }

        &.hover {
          display: block;
        }
      }
    }
  }
}

.q-splitter--dark .q-splitter__separator {
  background: none;
}

.q-tabs--vertical .q-tab__indicator {
  display: none;
}

.text-brand {
  color: #000000;
}

.bg-brand {
  background: #00b4fd;
}

.bg-neontb {
  background: #313542;
}

.text-neontb {
  color: #13f129;
}

.text-bright {
  // color: #33bcd4;
  color: #0089ED;
}

.bg-bright {
  background: #d4d4db !important;
  color: #3a3a3a !important;
}

.bg-brightbtn {
  background: #0089ED;
  color: #ffffff;
}

.bg-dyblue {
  background: #0089ED;
  color: #ffffff;
}

.bg-greyblue{
  background: #333;
  color: #0089ED;
}

.bg-darkbtn {
  background: #838383;
  color: #bacef1;
}

// .bg-white {
//   background: #ffffff;
//   color: #000;
// }
.menu-title {
  color: #db7e42;
  background-image: linear-gradient(to right, #de4545, #db7e42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #db7e42;
  font-size: 28px;
  text-align: center;
  font-family: Wave;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.page-header {
  background-image: linear-gradient(to right, #de4545, #db7e42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #db7e42;
  font-size: 28px;
  text-align: center;
  font-family: Wave;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
}


.q-field--filled.q-field--readonly .q-field__control:before {
  border-bottom: 0;
}

.q-field--readonly.q-field--float .q-field__native,
.q-field--readonly.q-field--float .q-field__input {
  color: #bacef1;
}

.gap-8{
  gap: 8px;
}

.gap-3{
  gap: 3px;
}

.gap-10{
  gap: 10px;
}

.gap-5{
  gap: 5px;
}

a:hover{
  filter: brightness(0.8);
}

a:active{
  filter: brightness(0.8);
}

a:visited{
  span{
    text-decoration: none;
  }
  text-decoration: none;
}

.txt-link{
  text-decoration: none;
  color: #0089ED;
}

.table-record {
  width: 100%;
  gap: 6px;


  .q-card {
    background: #ffffff !important;
    color: #000000 !important;
    margin-bottom:20px;
  }

  .label {
    color: #000000;
  }

  .q-btn {
    font-size: 11px !important;
  }
}
