@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
    padding: 0;
    margin: 0;
    font-family: Inter;
}
.wrapper {
    background: url(../images/bg.png) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.wrapper .flex-container .logo {
    max-width: 500px;
    width: 80%;
    margin: auto;
}
.wrapper .flex-container .logo img {
    display: block;
    margin: auto;
    max-width: 260px;
}
.abs {
    position: absolute;
    z-index: 0;
}
.abs.ftball {
    left: -10px;
    top: 20%;
    transform: scaleX(-1);
}
.abs.badge {
    right: -10px;
    top: 40%;
    transform: scaleX(-1);
}
.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
.main-header {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(180deg, #edb55b 0%, #fdef94 49%, #eebc5f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.sub-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    max-width: 800px;
    margin-bottom: 30px;
}
.hongbao {
    background: url(../images/hongbao.png) no-repeat top center;
    background-size: contain;
    width: 95%;
    max-width: 524px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.hongbao .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    margin-top: -40px;
}
.hongbao-label {
    font-size: 28.58px;
    font-weight: 700;
    line-height: 34.59px;
    text-align: center;
    color: #f45837;
}
.hongbao-input {
    border: 2.38px solid #f45837;
    background: #fff3d7;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    color: #f45837;
}

.hongbao-input:focus,
.hongbao-input:focus-visible,
.hongbao-input:active {
    border: 2.38px solid #f45837;
    outline: none;
}

.hongbao-btn {
    border: 0;
    color: #f45837;
    font-weight: 700;
    background: none;
    cursor: pointer;
    padding: 30px;
    font-size: 20px;
    margin-left: 4px;
}

.hongbao-img {
    margin-bottom: 10px;
}

.tabs {
    width: 100%;
}

.tab-buttons {
    display: flex;
    border-radius: 10px 10px 0 0;
    border: 1px solid #ffffff;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}
.tab-btn {
    padding: 10px 20px;
    background: linear-gradient(180deg, #418ceb 0%, #285eb6 100%);
    color: #ffffff;
    cursor: pointer;
}
.tab-btn.active {
    background: #d8edfc;
    color: #3f88e7;
    font-weight: 700;
}
.tab-content {
    display: none;
    padding: 20px;
    border: 5px solid #ffffff;
    background: #d8edfc;
    box-shadow: 0px 0px 20px 6px #3e86e4 inset;
    border-radius: 10px;
}
.tab-content.active {
    display: block;
}
.tab-content h3,
.tab-content p {
    margin: 0;
}
.tab-content .matches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 15px 0;
    flex-wrap: wrap;
}
.tab-content .matches .match {
    display: flex;
    gap: 10px;
    border: 1px solid #408ae9;
    padding: 20px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}

.tab-content .matches .match .match-team {
    border-right: 1px solid #408ae9;
    padding-right: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;

    width: 55%;
}
.tab-content .matches .match .match-team .team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tab-content .matches .match .match-team .team img {
    width: 25px;
    display: block;
}

.tab-content .matches .match .match-date {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content-bar {
    width: 95%;
    padding: 20px 30px;
    border: 5px solid #ffffff;
    background: #d8edfc;
    box-shadow: 0px 0px 20px 6px #3e86e4 inset;
    border-radius: 10px;
    max-width: 1200px;
    margin-top: 20px;
}
.content-bar .secinner-content {
    display: flex;
}
.content-bar .secinner-content .left-contents {
    display: flex;
    gap: 10px;
    flex: 4;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-bar .secinner-content .left-contents .caption {
    color: #006dff;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: left;
}
.content-bar .secinner-content .left-contents .login-btn {
    background: url(../images/login-btn.png) no-repeat center center;
    background-size: contain;
    padding: 20px 50px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.content-bar .secinner-content .right-contents {
    flex: 1;
}
.content-bar .thirdinner-content {
}

.content-bar .thirdinner-content .center-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #006dff;
}
.content-bar .thirdinner-content ol li {
    color: #006dff;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
}
@media screen and (max-width: 768px) {
    .wrapper .flex-container .logo img {
        width: 100%;
        max-width: 150px;
    }
    .main-header {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .sub-header {
        font-size: 20px;
        line-height: 25px;
    }
    .tab-content .matches {
        grid-template-columns: repeat(2, 1fr);
    }
    .content-bar {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .tab-content .matches {
        grid-template-columns: repeat(1, 1fr);
    }
    .tab-btn {
        font-size: 10px;
    }
    .hongbao {
        height: 310px;
        padding: 25px;
        gap: 30px;
    }
    .hongbao .hongbao-btn {
        font-size: 14px;
        padding: 20px;
    }
    .hongbao .top {
        font-size: 12px;
    }
    .hongbao .hongbao-label {
        font-size: 20px;
    }
    .content-bar .secinner-content {
        flex-direction: column;
    }
}
