$size-mobile-breakpoint: 700px;

$box-shadow-standard:  0 1px 6px 0 rgba(34, 35, 38, 0.18);

$dark-black: #3d4145;
$light-grey: #c2c2c2;
$primary: #ffffff;
$menu-bg: #333;
$link: #EBEBEC;
$link-hover: #737373;
$link-active: #4080ff;
$color-white: #fff;
$color-meta: gray;
$color-danger: #dc3545;
$color-danger-highlight: #c82333;
$footer-black: #445168;
$footer-top: #445168;
$footer-link: #ffffff;
$blue-btn: #4e5efb;
$grey-btn: #4e8cfb;
$font-3-dark: #A0BCD6;

$maxwidth: 1300px;

$border-width: 1px;
$border-radius: .25rem;
$border: #2a313e;

$font-weight-bold: 600;
$font-size-m: 18px;
$font-size-l: 32px;

$page-trans: all .5s ease-in-out;