@font-face {
  font-family: "Wave";
  src: url("./310-CAI978.ttf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("./Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.ttf");
}
@font-face {
  font-family: "Baloo";
  src: url("./BalooBhaina.otf");
  font-weight: 100;
}
