@font-face {
  font-family: "C9";
  src: url("./422-CAI978.ttf");
}

@font-face {
  font-family: "Jura";
  src: url("./Jura-Medium.ttf");
}

@font-face {
  font-family: "jp";
  src: url("./388-CAI978.ttf");
}

@font-face {
  font-family: "Wave";
  src: url("./310-CAI978.ttf");
}

@font-face {
  font-family: "vip";
  src: url("./484-CAI978.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("./Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./poppins-regular.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("./PoppinsLatin-Medium.otf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("./Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter Regular";
  src: url("./Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter Medium";
  src: url("./Inter-Medium.ttf");
}
@font-face {
  font-family: "Baloo Regular";
  src: url("./Baloo-Regular.ttf");
}
@font-face {
  font-family: "Baloo Bhaina";
  src: url("./BalooBhaina.otf");
}
