@font-face {
  font-family: "FZHanZhenGuangBiaoS-GB";
  src: url("../fonts/FZHanZhenGuangBiaoS.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFangNormal.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HYYakuHei800";
  src: url("../fonts/HYYakuHei800.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HYYakuHei400";
  src: url("../fonts/HYYakuHei400.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HYYakuHei300";
  src: url("../fonts/HYYakuHei300.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("../fonts/YouSheBiaoTiHei.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
