.passwordModal .ant-modal {
  max-width: 520px;
  width: 100%;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.passwordModal .ant-modal .ant-modal-content {
  width: 90%;
}
.securityModal .ant-modal {
  width: 100%;
  max-width: 600px;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.securityModal .ant-modal .ant-modal-content {
  width: 90%;
}
.ant-modal.ant-modal-confirm {
  width: 100%;
  max-width: 600px;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.half[data-v-24a44b67] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}
[data-v-24a44b67] .ant-form-item.half .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
[data-v-24a44b67] .ant-form-item.half .ant-form-item-control-input-content .ant-input {
  width: 100%;
  flex: 1;
}
[data-v-24a44b67] .ant-form-item .ant-select {
  width: 100%;
}
[data-v-24a44b67] .ant-form-item.select .ant-form-item-control-input {
  width: 100%;
}
[data-v-24a44b67] .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
  height: 40px;
}
[data-v-24a44b67] .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px;
  padding: 5px 20px;
  background: #212534;
  color: #ffffff;
  border: 0;
}
.common-btn[data-v-24a44b67] {
  width: 100%;
  cursor: pointer;
}
.common-btn.search-btn[data-v-24a44b67] {
  margin-top: 0;
  padding: 3px 5px;
  font-size: 14px;
}
.common-btn.verification-btn[data-v-24a44b67] {
  flex: 1;
  padding: 8px;
}
.common-btn.submit-btn[data-v-24a44b67] {
  padding: 8px;
}
.basic-info[data-v-24a44b67] {
  position: relative;
  margin: 0;
}
.basic-info .buttons[data-v-24a44b67] {
  position: absolute;
  top: 20px;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.basic-info .account-btn[data-v-24a44b67] {
  cursor: pointer;
  padding: 5px 20px;
  font-size: 16px;
  min-width: 180px;
}
.basic-info-table .tbl-row[data-v-24a44b67] {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.basic-info-table .tbl-row svg[data-v-24a44b67] {
  fill: #ffffff;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.basic-info-table .basic-info-cell.title[data-v-24a44b67] {
  width: 150px;
}
.unbind-record-wrapper[data-v-24a44b67] {
  margin-top: 20px;
}
.left[data-v-24a44b67] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.searchbar .ant-form[data-v-24a44b67] {
  display: flex;
  justify-content: space-between;
}
.searchbar .ant-form .ant-form-item[data-v-24a44b67] {
  margin-right: 0;
}
.personal-wrapper[data-v-24a44b67] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-wrapper .personal-information-container[data-v-24a44b67] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 20px;
  box-shadow: 2px 2px 10px 1px #000000;
  border-radius: 20px;
  overflow: hidden;
}
.personal-wrapper .personal-information-container .name-email[data-v-24a44b67] {
  background-image: linear-gradient(to right, #de4545, #db7e42);
  padding: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.personal-wrapper .personal-information-container .name-email .top-right[data-v-24a44b67] {
  position: absolute;
  right: 20px;
  top: 20px;
}
.personal-wrapper .personal-information-container .name-email .info-name[data-v-24a44b67] {
  color: #ffffff;
  font-size: 30px;
}
.personal-wrapper .personal-information-container .name-email .info-email[data-v-24a44b67] {
  color: #ffffff;
}
.personal-wrapper .personal-information-container .other-info[data-v-24a44b67] {
  padding: 20px;
}
.personal-wrapper .personal-information-container .other-info .account-tip[data-v-24a44b67] {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}
.personal-wrapper .personal-information-container .other-info .account-tip a[data-v-24a44b67] {
  color: #db7e42;
}
.personal-wrapper .personal-information-container .other-info .buttons[data-v-24a44b67] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
.account-container .basic-info-table[data-v-24a44b67] {
    grid-template-columns: 1fr;
}
.personal-wrapper .buttons[data-v-24a44b67] {
    flex-direction: column;
}
}
@media (max-width: 768px) {
.bindunbind[data-v-24a44b67] {
    display: none;
}
.basic-info .account-btn[data-v-24a44b67] {
    padding: 5px 0px;
    font-size: 12px;
    min-width: 140px;
}
}
@media (max-width: 768px) {
.account-container .account-content-wrapper .bank-card-list[data-v-24a44b67] {
    max-width: 300px;
    margin: 100px auto;
    padding: 15% 0 0;
}
.account-container .account-content-wrapper .bank-card-list .bank-card-item[data-v-24a44b67] {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
    margin: 0;
    margin-top: -40%;
    flex-direction: column;
    align-items: center;
    height: 150px;
    transform: none;
}
.account-container .account-content-wrapper .bank-card-list .bank-card-item .unlink-btn[data-v-24a44b67] {
    right: 10px;
    left: unset;
    display: none;
    transition-delay: 0.5s;
    transition: all 0.3s ease-in;
}
.account-container .account-content-wrapper .bank-card-list .bank-card-item .txt-center[data-v-24a44b67] {
    transform: none;
    padding-top: 10px;
    width: 100%;
}
.account-container .account-content-wrapper .bank-card-list .bank-card-item.active[data-v-24a44b67] {
    margin-bottom: 30%;
    padding-bottom: 10%;
}
.account-container .account-content-wrapper .bank-card-list .bank-card-item.active .unlink-btn[data-v-24a44b67] {
    display: block;
}
.account-container .account-content-wrapper .bank-card-list .bank-card-item.inactive[data-v-24a44b67] {
    margin-top: -40%;
}
}

/*# sourceMappingURL=611.css.map*/