@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
  font-family: "Wave";
  src: url("../fonts/310-CAI978.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/poppins-regular.ttf");
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/PoppinsLatin-Medium.otf");
}
@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Baloo Regular";
  src: url("../fonts/Baloo-Regular.ttf");
}
@font-face {
  font-family: "Baloo Bhaina";
  src: url("../fonts/BalooBhaina.otf");
}

@font-face {
  font-family: "Courier Prime";
  src: url("../fonts/Courier\ New.ttf");
}
@font-face {
  font-family: "Courier Bold";
  src: url("../fonts/Courier\ New\ Bold.ttf");
}
@font-face {
  font-family: "Courier Italic";
  src: url("../fonts/Courier\ New\ Italic.ttf");
}
@font-face {
  font-family: "Courier Bold Italic";
  src: url("../fonts/Courier\ New\ Bold\ Italic.ttf");
}
