// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0071ed;
$primary-light: #a2d2ff;
$secondary: #1e88e5;
$primary-white: #f5faff;
$accent: #9c27b0;

$tangerine: #db7e42;

$dark: #2b2b4b;
$dark-page: #23263c;

$white: #ffffff;
$positive: #21ba45;
$negative: #d25858;
$info: #31ccec;
$warning: #f2c037;

$text-color: #000;
$text-color-reverse: #fff;

$primary-linear: linear-gradient(104.75deg, #8ec1f7 39.58%, #4183d3 109.58%);
$tangerine-linear: linear-gradient(270deg, #5800e8 0%, #0062e8 100%) !important;
