.page-header {
  background-image: linear-gradient(to right, #de4545, #db7e42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  text-align: center;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.verification {
  display: flex;
  padding: 10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-str-div {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  gap: 5px;
  height: 50px;

  span {
    padding: 8px 3px;
    //border: 1px solid #fff;
    border-radius: 5px;
    background: #434343;
    width: 33%;
    text-align: center;
    font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  span.weak-pwd {
    background: var(--q-negative);
  }

  span.normal-pwd {
    background: var(--q-warning);
    color: var(--q-primary);
  }

  span.strong-pwd {
    //background: linear-gradient(to right, #de4545, #db7e42) !important;
    background: var(--q-positive);
    font-weight: 600;
  }
}

.forget-pass-section {
  height: calc(100dvh - 53px);
  background: url(../../assets/images/login/forgot-pwd-bg.png) no-repeat center center;
  background-size: 100% 100%;
  padding-top: 30px;

  .q-item__label {
    width: 95px;
    text-align: left;
  }

  .q-input {
    width: 100%;
  }

  .forget-pass-tabs {
    .q-tabs__content {
      gap: 12px;
      .q-tab {
        background: url(../../assets/images/index/primary-btn-white-lg.png) no-repeat center center;
        background-size: 100% 100%;
        box-shadow: 0px -0.78px 3.11px 0px #ffffff;
        border-radius: 72px;
        font-size: 12px;
        font-weight: 600;
        color: #7a80a1;

        &.q-tab--active {
          background-image: url(../../assets/images/index/primary-btn-lg.png);
          box-shadow: 0px -0.78px 3.11px 0px #ffffff;
          color: #fff;
        }
      }
      .q-tab__indicator {
        display: none;
      }
    }
  }

  .q-tab-panels {
    background: transparent;
  }

  .forgot-pwd-form-inner-wrapper {
    background: #ffffff80;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 12px 16px;
    margin-top: 12px;
    backdrop-filter: blur(2px);
    border-image: linear-gradient(105.76deg, #ffffff 20.95%, #c6d9ff 100.21%) 1;
    mask: linear-gradient(black, black);

    .input-field-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .input-field__label {
        font-size: 12px;
        color: #424f72;
        &.required {
          &::after {
            content: "*";
            color: #ff0d0d;
          }
        }
      }
    }
  }

  .q-field--standout .q-field__control {
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #86b8ff inset, 0px 2px 0px 0px #9ab0ff70;
  }

  .q-field--standout .q-field__control {
    background: #f7f8fb;
    .q-field__native.q-placeholder,
    .q-field__append,
    .q-field__prepend {
      color: #424f72 !important;
      &::placeholder {
        color: #a4aabb;
      }
    }
  }

  .notification-red {
    color: #f53434;
  }
  .notification-blue {
    color: #458bff;
  }

  .submit-btn {
    width: 100%;
    letter-spacing: 2px;
    background: radial-gradient(103.75% 103.75% at 50% -3.75%, #94c3ff 0%, #4b91f5 100%);
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-weight: 600;
    color: white;
  }
}

.form-after-submit {
  .q-input {
    width: calc(100%);
  }
}

.captcha-textfield input:active,
.captcha-textfield input:focus,
.captcha-textfield input {
  color: #000 !important;
}
