@import "./font.scss";

html {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

// app global css in SCSS form
body {
  //font-family: "Jura";
  //font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Segoe UI,Arial,Roboto,"PingFang SC","miui","Hiragino Sans GB","Microsoft Yahei",sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background: #ffffff;
}

#q-app {
  // background: #11131f;
  background: #ffffff;
}

.q-layout,
.q-header,
.q-footer,
.q-page {
  max-width: 500px;
  margin: 0 auto;
}

.q-footer {
  .filtericon {
    filter: invert(34%) sepia(57%) saturate(3394%) hue-rotate(186deg) brightness(101%) contrast(101%);
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
  // display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2de;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d2d2de;
}

.q-toolbar {
  padding-top: env(safe-area-inset-top, 0);
  background: #d2d2de;
}

.q-page-container {
  background-color: #fff;
  min-height: calc(100vh - 49px);
  //box-shadow:0px 0px 4px rgba(0,0,0,0.25);
  /* Overwrite Quasars padding-top calculation by code to avoid wrong offset in iOS PWA when
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> is used. */

  // padding-top: env(safe-area-inset-top);

  // padding-top: calc(50px + env(safe-area-inset-top)) !important;
  // margin-bottom: calc(70px + env(safe-area-inset-top) + env(safe-area-inset-bottom)) !important;

  &.with-bg {
    background: url(../assets/images/bg.png) no-repeat center center;
    background-size: 100% 100%;
  }
}

.q-scrollarea__content {
  width: 100%;
  height: 100%;
}

body.body--dark {
  background: #11131f;
}

body.body--dark .q-header {
  // background: url(../assets/images/common/bgheader.png) no-repeat top center;
  background: #212534;
  // border-radius: 0 0 20px 20px;
  background-size: cover;
}

.q-dialog__inner--minimized {
  padding: 0;
}

// body.platform-ios .q-dialog__inner--minimized > div, body.platform-android:not(.native-mobile) .q-dialog__inner--minimized > div {
//   max-height: unset;
// }
body.platform-ios .q-dialog__inner--minimized > div {
  max-height: calc(100vh - 108px);
}

.page-title {
  margin: 5px;
  color: #bacef1;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  a {
    display: block;
    position: absolute;
    left: 0;
    padding: 0;

    svg,
    img {
      display: block;
      width: 20px;
      padding-left: 10px;
      fill: #424f72;
    }
  }
}

body.body--dark .q-header,
body.body--dark .q-footer,
body.body--dark .q-drawer {
  max-width: 500px;
  margin: 0 auto;
}

body.body--dark .q-header {
  padding: 3px;
  padding-top: calc(3px + env(safe-area-inset-top, 0));
}

body.body--dark .q-footer {
  padding-bottom: calc(1px + env(safe-area-inset-top, 0));
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

svg,
img.svg {
  width: 25px;
  fill: #ffffff;
}

.q-carousel.vip {
  height: auto;
  text-align: center;
}

.q-carousel.home {
  height: auto;
  aspect-ratio: 1040/ 438;
  max-height: 400px;
  border-radius: 8px;
  box-shadow: none;

  .q-panel > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }

  .q-carousel__navigation--bottom {
    bottom: 30px;
  }
}

.q-carousel.account {
  height: 30vw;
  max-height: 130px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

  .q-panel > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  .q-carousel__navigation--bottom {
    bottom: 30px;
  }
}

.q-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -15px #000;
}

.q-card__section--vert {
  padding: 0;
}

.login-card {
  .q-card__section--vert {
    padding: 10px;
  }
}

.q-footer {
  border-radius: 8px 8px 0 0;
  //box-shadow: 0 0 0px 0px #75757550;
  // overflow: hidden;
  font-size: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;

  .q-tabs {
    border-radius: inherit;
    background: #ffffff !important;
  }

  .q-tab {
    padding: 5px 0 0px;
    background: transparent;
    color: #8c98b9;

    img {
      height: 38px;
      margin-bottom: 8px;

      &.inactive {
        display: block;
      }

      &.hover {
        display: none;
      }
    }

    &__indicator {
      display: none;
    }

    &--inactive {
      opacity: 1;
      &:active,
      &:hover {
        filter: none;
      }
    }

    &--active {
      color: #0089ed;
      &:active,
      &:hover {
        filter: none;
      }

      img {
        &.inactive {
          display: none;
        }

        &.hover {
          display: block;
        }
      }
    }
  }
}

.q-splitter--dark .q-splitter__separator {
  background: none;
}

.q-tabs--vertical .q-tab__indicator {
  display: none;
}

.text-brand {
  color: #000000;
}

.bg-brand {
  background: #00b4fd;
}

.bg-neontb {
  background: #313542;
}

.text-neontb {
  color: #13f129;
}

.text-bright {
  // color: #33bcd4;
  color: #0089ed;
}

.bg-bright {
  background: #d4d4db !important;
  color: #3a3a3a !important;
}

.bg-brightbtn {
  background: #0089ed;
  color: #ffffff;
}

.bg-dyblue {
  // background: #0089ED;
  // background: linear-gradient(180deg, #52ACFF, #3559DA);
  background-color: #4c9dec;
  color: #ffffff;
}
.bg-dygreen {
  background: linear-gradient(180deg, #58db8c, #0d932b);
  color: #ffffff;
}

.bg-greyblue {
  background: #333;
  color: #0089ed;
}

.bg-darkbtn {
  background: #838383;
  color: #bacef1;
}

.bg-dyorange {
  background: linear-gradient(270deg, #dc9a45 0%, #ea9526 0.01%, #fff6a6 100%);
  color: black;
}

// .bg-white {
//   background: #ffffff;
//   color: #000;
// }

.q-field--filled.q-field--readonly .q-field__control:before {
  border-bottom: 0;
}

.q-field--readonly.q-field--float .q-field__native,
.q-field--readonly.q-field--float .q-field__input {
  color: #bacef1;
}

.gap-8 {
  gap: 8px;
}

.gap-3 {
  gap: 3px;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}

a:hover {
  filter: brightness(0.8);
}

a:active {
  filter: brightness(0.8);
}

a:visited {
  span {
    text-decoration: none;
  }
  text-decoration: none;
}

.txt-link {
  text-decoration: none;
  color: #0089ed;
}

.table-record {
  width: 100%;
  gap: 6px;

  .q-card {
    background: #ffffff !important;
    color: #000000 !important;
    margin-bottom: 20px;
  }

  .label {
    color: #000000;
  }

  .q-btn {
    font-size: 11px !important;
    &:before {
      box-shadow: none;
    }
  }
}

.swiper-horizontal > .swiper-scrollbar {
  display: none !important;
}

.q-layout__shadow:after {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.no-shadow {
  &:before {
    transition: none !important;
    box-shadow: none !important;
  }
}

.btn-cfm-deposit {
  background: #0089ed10 !important;
  border-radius: 4px;
  padding: 4px 4px;

  .on-left {
    margin-right: 3px;
  }
  .q-icon {
    margin-right: 3px !important;
  }
}

.modal-common-div {
  .modalcontent {
    background: url(../assets/images/index/common-modal-bg.png) no-repeat center top;
    background-size: 100%;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 6px 16px;
    overflow: visible;
    min-width: 300px;

    &.with-decorator {
      &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        background: url(../assets/images/index/common-modal-decorator.png) no-repeat center center;
        background-size: 100% 100%;
        aspect-ratio: 1;
        width: 95px;
      }
    }
  }

  .headers {
    width: calc(100% - 16px);
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    height: 55px;
    line-height: 55px;
    color: #424f72;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    > .q-btn {
      margin-left: auto;
    }

    .black-titles,
    .titles {
      left: 50%;
      position: absolute;
      transform: translate(-50%, 0);
    }
  }

  .black-titles {
    color: $accent;
    font-size: 1rem;
  }

  .contents {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 12px 15px;
    text-align: center;
    color: #424f72;
    font-size: 1.2rem;

    .dialog-content-icon {
      width: 2.5rem;
      margin-bottom: 12px;
    }

    .contentfonts {
      text-align: center;
      color: #333;
      font-size: 16px;
      margin: 37px 0 20.5px 0;
    }

    .inputs {
      width: 292px;
      height: 36px;
      border-radius: 4px 4px;
      border: 1px solid #666;
      box-sizing: border-box;
      margin: 0 auto;
      padding-left: 20px;

      .van-field__control {
        height: 100%;
        width: 100%;
      }
    }

    .verification-code-input {
      border-radius: 7px;
      .q-field__control {
        box-shadow: 0px 0px 2.78px 0px #a9c9ea inset;
        background-color: #f7f8fb;
      }
      .q-placeholder {
        color: #424f72;
        &::placeholder {
          color: #a4aabb;
        }
      }
    }

    .verification-img {
      border-radius: 7px;
      cursor: pointer;
    }
  }

  .btnsreas {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 20px;
    gap: 15px;

    .cacnels {
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      letter-spacing: 1px;
      max-width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }

    .confirmsbtns {
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      max-width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 1px;
    }
    .submit-btn {
      min-width: 112px;
      background: radial-gradient(103.75% 103.75% at 50% -3.75%, #94c3ff 0%, #4b91f5 100%);
      border: 1px solid #ffffff;
      border-radius: 30px;
      color: #fff;
    }
  }
}

.common-md-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-md-btn.png");
  background-size: 100% 100%;
  aspect-ratio: 286/96;
  font-size: 1.2rem;
  width: 95px;
  color: $white;
  border-radius: 10px;
  box-shadow: 0px -0.87px 3.47px 0px #ffffff;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

.common-md-white-btn {
  background-color: transparent;
  background-image: url("../assets/images/common/common-md-white-btn.png");
  background-size: 100% 100%;
  aspect-ratio: 286/96;
  font-size: 1.2rem;
  width: 95px;
  color: #7a80a1;
  border-radius: 10px;
  box-shadow: 0px -0.87px 3.47px 0px #ffffff;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    filter: brightness(0.85);
    transform: translate(0px, 1px);
  }
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}
