@font-face {
  font-family: Oxanium;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(../assets/font/Oxanium-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Jura;
  src: url(../assets/font/Jura-Medium.ttf);
}

@font-face {
  font-family: trending;
  src: url(../assets/font/329-CAI978.ttf);
}

@font-face {
  font-family: PFReg;
  src: url(../assets/font/PingFang\ Regular.ttf);
}

@font-face {
  font-family: PFMed;
  src: url(../assets/font/PingFang\ Medium.ttf);
}

@font-face {
  font-family: PFBold;
  src: url(../assets/font/PingFang\ Bold.ttf);
}
@font-face {
  font-family: fzh;
  src: url(../assets/font/fzh.ttf);
}
@font-face {
  font-family: NanumNeo;
  src: url(../assets/font/NanumSquareNeo-bRg.ttf);
}
