html,
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #080a16;
  position:relative;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  transition: 0.3s all;
}

.showMobile {
  display: block;
}

.showDesktop {
  display: none;
}

.full-container {
  height: 100dvh;
  overflow: auto;
  /* margin-bottom: 20px; */
}

.main-wrapper {
  background-image: url(../imgs/bg-mobile.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  max-width: 550px;
  margin: auto;
}

.top-wrapper {
  padding: 16px 0 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.top-bg {
  width: 100%;
}

.top-bg img {
  width: 100%;
  /* padding: 20px 20px 0 20px; */
}

.top-bg .click-to-claim-btn {
  width: 38%;
  max-width: 200px;
  position: absolute;
  top: 80%;
  left: 10%;
}

.top-logo {
  display: block;
  width: 25%;
  max-width: 140px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 15px; */
}

.top-logo img {
  width: 100%;
}

.top-cs {
  display: block;
  max-width: 190px;
  position: fixed;
  right: 0;
  top: 40px;
  width: 25%;
}

.top-cs img {
  width: 100%;
}

.banner-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-btns-wrapper {
  padding: 5px 16px 10px;
  height: calc(100% - 180px);
}

.gold-text{
  text-align: center;width:100%;
  margin-bottom:5px;
  font-weight: bold;
  font-size: 20px;
  margin-top:5px;
  background-clip: text;
  background: linear-gradient(180deg, #FFF8BD 0%, #FFBE81 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.pop-btns-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  justify-content: space-evenly;
  /* max-width: 410px; */
  margin: auto;
  /* padding: 0px 12px; */
}

.pop-btns-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(27, 29, 38, 0.6);
  padding: 2px 12px;
  border-radius: 10px;
  /* margin-left: 5%; */
  box-shadow: 0px 1px 8px 1px rgba(0, 240, 255, 0.2);
  border: 1px solid rgba(0, 240, 255, 1);
}

.pop-btns-item .item-icon {
  min-width: 110px;

}

.pop-btns-item .item-icon img {
  display: block;
  width: 100%;
  max-width: 110px;
}

@media screen and (max-width: 380px) {
  .pop-btns-item .item-icon img {
    max-width: 90px;
  }

  .pop-btns-item .item-icon {
    min-width: 90px;
  }
}

.pop-btns-item .item-details {
  /* margin-left: 12px; */
}

.pop-btns-item .item-details .details-title img {
  display: block;
  width: 100%;
  max-width: 202px;
}

.pop-btns-item .item-details .details-desc {
  display: flex;
  justify-content: center;
}

.pop-btns-item .item-details .details-desc img {
  display: block;
  width: 100%;
  max-width: 96px;
  margin-top: 4px;
}

.pop-btns-item .item-arrow {
  /* margin-left: auto; */
  min-width: 42px;
}

.pop-btns-item .item-arrow img {
  display: block;
  width: 100%;
  max-width: 42px;
}

.swing {
  animation: swing 1.2s linear infinite;
  transform: all 0.5s;
}

@keyframes swing {

  0%,
  100% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }
}

.sub-title-img {
  padding: 10px 16px 20px;
}

.sub-title-img img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.contact-wrapper {
  background: #0D193D;
  border: 1px solid #8E7878;
  border-radius: 8px;
  margin: 20px 20px 60px 20px;
  padding-top: 0px;
}

.contact-content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.contact-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.contact-item {
  background: linear-gradient(180deg, #675E8C 0%, #353454 100%);
  padding: 4px 10px;
  border-radius: 8px;
  display: flex;
  font-size: 0.9em;
  color: white;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.contact-item .icon {
  width: 24px;
  flex-shrink: 0;
}

.contact-item .service-icon {
  width: 60px;
}

.contact-item img {
  width: 100%;
}

.contact-item.w-50 {
  width: calc(50% - 4px);
}

.contact-item.w-100 {
  width: 100%;
}

.contact-btns-wrapper {
  padding: 0 16px 30px;
}

.contact-btns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* max-width: 410px; */
  margin: auto;
}

.contact-btn.w-50 {
  width: calc(50% - 6px);
}

.contact-btn.w-100 {
  width: 100%;
}

.contact-btn img {
  display: block;
  width: 100%;
}

.main-sticky-btn {
  /*background: url(../imgs/sticky-btn.png)no-repeat center center;*/
  background-size: contain;
  padding: 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  max-width: 550px;
  margin: auto;
}

/* Overlay Styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
}

.pop-overlay-01 {
  position: relative;
}

.pop-overlay-btns {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 60%;
  margin: auto;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.pop-overlay-btns a {
  width: 100%;
}

.pop-overlay-btns a img {
  width: 100%;
}
.pop-overlay-1 img,
.pop-overlay-2 img,
.pop-overlay-3 img,
.pop-overlay-4 img {
  width: 90%;
}


.close-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.close-overlay img {
  display: block;
  width: 76px;
}

.hidden {
  display: none;
}

.qq-bg{
  background-image: url("../imgs/qq-bg.png");
  background-size: 100% 100%;
  position: relative;
  text-align: left;
  padding-left: 60px;
}


.voxis-bg{
  background-image: url("../imgs/voxis-bg.png");
  background-size: 100% 100%;
  position: relative;
  text-align: left;
  padding-left: 65px;
  padding-top: 3px;

}

@media(max-width: 400px){
  .voxis-bg{
    padding-left: 13vw;
  }
  .qq-bg{
    padding-left: 13vw;
  }

}

.qq-bg span.title,.voxis-bg span.title{
  font-size: 0.9em;

  @media(max-width: 360px){
    font-size: 12px;
  }
}

.qq-bg span,.voxis-bg span{
  color: #fff;
  font-size: 1.1em;
  display: block;
  /*padding-right: 25px;*/
  @media(max-width: 360px){
    font-size: 14px;
  }
}

.copy-icon {
  display: flex; 
  cursor: pointer; 
  margin-left: 5px;
  float: right;
  justify-content: center;
  align-items: center;
  background: #5e7fe4;
  border-radius: 10px;
  font-size: 10px;
  padding: 0 5px;
  margin-top: 5px;
  img {
    width: 15px;
    filter: invert(1)
  }
}