html,
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #080a16;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  transition: 0.3s all;
}

a:hover {
  filter: brightness(0.7);
}

.showMobile {
  display: block;
}
.showDesktop {
  display: none;
}

.full-container {
}

.main-wrapper {
  background-image: url(../imgs/bg-mobile.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 550px;
  margin: auto;
}

.top-wrapper {
  padding: 10px 16px 0px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.top-logo img {
  display: block;
  width: 100%;
}

.top-cs img {
  display: block;
  width: 100%;
}

.header-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  background-clip: text;
  background: linear-gradient(180deg, #fff8bd 0%, #ffbe81 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.pop-btns-wrapper {
  padding: 0 16px;
  height: calc(100% - 180px);
}

.pop-btns-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
}

.pop-btns-item {
  display: flex;
  align-items: center;
}

.pop-btns-item-1 {
  background: url('../imgs/banner-1.png') center center no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 408/88;
}

.pop-btns-item-2 {
  background: url('../imgs/banner-2.png') center center no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 408/91;
}

.pop-btns-item-3 {
  background: url('../imgs/banner-3.png') center center no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 408/92;
}

.pop-btns-item-4 {
  background: url('../imgs/banner-4.png') center center no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 408/87;
}

.pop-btns-item .item-icon {
  min-width: 110px;
  margin-left: calc(-8% - 16px);
}

.pop-btns-item .item-icon img {
  display: block;
  width: 100%;
  max-width: 110px;
}

@media screen and (max-width: 380px) {
  .pop-btns-item .item-icon img {
    max-width: 90px;
  }

  .pop-btns-item .item-icon {
    min-width: 90px;
  }
}

.pop-btns-item .item-details {
  margin-left: 12px;
}

.pop-btns-item .item-details .details-title img {
  display: block;
  width: 100%;
}

.pop-btns-item .item-details .details-desc img {
  display: block;
  width: 100%;
  margin-top: 4px;
}

.pop-btns-item .item-arrow {
  margin-left: auto;
  min-width: 92px;
}

.pop-btns-item .item-arrow img {
  display: block;
  width: 100%;
  max-width: 92px;
  margin-top: 20px;
  margin-right: 15px;
}

.swing {
  animation: swing 1.2s linear infinite;
  transform: all 0.5s;
  width: 30%;
  aspect-ratio: 204 / 64;
  margin-left: auto;
  margin-top: 7%;
  margin-right: 4%;
}

@keyframes swing {
  0%,
  100% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }
}

.sub-title-img img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.contact-btns-wrapper {
  padding: 0 16px 30px;
  background: url('../imgs/contact-section-bg.png') center center no-repeat;
  background-size: 100% 100%;
  padding: 5px 30px 30px 30px;
  margin-top: 20px;
}

.contact-btns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 410px;
  margin: auto;
}

.contact-btn.w-50 {
  width: calc(50% - 6px);
}

.contact-btn.w-100 {
  width: 100%;
}

.contact-btn img {
  display: block;
  width: 100%;
}

.amico-btn {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(0%, -50%);
}

.main-sticky-btn {
  background: linear-gradient(180deg, #12a7b0 0%, #0f4465 100%);
  padding: 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  display: none;
}

/* Overlay Styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.pop-overlay-01 {
  position: relative;
}

.pop-overlay-btns {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 300px;
  margin: auto;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.pop-overlay-2 .pop-overlay-btns {
  bottom: 30px;
}

.pop-overlay-3 .pop-overlay-btns {
  bottom: 20px;
}

.close-overlay {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.close-overlay img {
  display: block;
  width: 36px;
}

.hidden {
  display: none;
}

.qq-bg {
  background-image: url("../imgs/qq-bg.svg");
  background-size: 100% 100%;
  position: relative;
  text-align: left;
  padding-left: 65px;
  padding-top: 3px;
  aspect-ratio: 151/43;
}

.voxis-bg {
  background: url("../imgs/voxis-bg.svg") center center no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  text-align: left;
  padding-left: 65px;
  padding-top: 3px;
  aspect-ratio: 315/43;
}

@media (max-width: 400px) {
  .voxis-bg {
    padding-left: 13vw;
  }
  .qq-bg {
    padding-left: 13vw;
  }
}

.qq-bg span.title,
.voxis-bg span.title {
  font-size: 0.9em;

  @media (max-width: 360px) {
    font-size: 12px;
  }
}

.qq-bg span,
.voxis-bg span {
  color: #fff;
  font-size: 14px;
  display: block;
  /*padding-right: 25px;*/
  @media (max-width: 360px) {
    font-size: 14px;
  }
}
