@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.main-container {
  max-width: 500px;
  background-color: #232626;
}

.header {
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, #074700 0%, #202626 96.35%);
  height: 50px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.header-logo {
  width: 120px;
  aspect-ratio: 120/32;
  min-height: 32px;
}

.top-info-container {
  background: radial-gradient(100% 100% at 43.62% 0%, #64FF3C 0%, #005324 100%);
  border-radius: 4px;
  margin: 0 20px;
  padding: 8px;
}

.top-info-container p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin: 5px;
}

.info-highlight-txt {
  font-family: "Poppins", sans-serif;
  color: #fff848;
  font-size: 16px;
  font-weight: 700;
}

.banner-container {
  padding: 20px;
}

.banner {
  width: 100%;
  margin-bottom: 16px;
}

.download-info-container {
  display: flex;
}
.download-promotional-img {
  width: 30%;
}

.download-content {
  width: 70%;
  padding-left: 20px;
  padding-bottom: 36px;
}

.download-txt-bg {
  background: radial-gradient(100% 100% at 43.62% 0%, #9CE871 0%, #2EED88 100%);
  border-radius: 4px;
  padding: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  text-align: center;
}

.download-txt {
  padding: 8px 6px;
  font-size: 9px;
  color: #fff;
  text-align: center;
}

.download-btn-container {
  position: sticky;
  bottom: 0;
}

.download-btn-info {
  width: 180px;
  position: absolute;
  bottom: 54px;
  left: 50px;
}

.download-btn {
  height: 43px;
  width: calc(100% - 40px);
  background: linear-gradient(180deg, #FEC26D 0%, #F28016 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 74px;
  font-weight: 700;
  margin: 4px 20px;
}

.download-btn:hover {
  background: linear-gradient(180deg, #ffa600 0%, #ff3b00 100%);
}
