.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-header {
    margin-bottom: 17.5px;

    img {
      margin-bottom: 0px;
    }
  }

  .match-info {
    margin-bottom: 27px;
    width: 100%;
  }

  .event-description-highlight {
    color: #ffa800;
  }

  .remark {
    display: flex;
    gap: 41px;
    align-self: start;
    font-family: Microsoft YaHei UI;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #ffa800;
    margin-bottom: 20px;
  }

  .deposit-table {
    width: 100%;
    thead {
      background: linear-gradient(180deg, #b42614 0%, #7b0101 100%);
      color: #ffffff !important;
      th {
        border: 2px solid #ffffff33 !important;
        border-top: 0;
        background: unset !important;
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }

    tr {
      th,
      td {
        padding: 20px;
        text-align: center;
        font-size: 0.75rem;
        line-height: 1rem;
      }
      &:nth-child(2) {
        td {
          border-top: 0;
        }
      }
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
      td {
        background: #342d2d66 !important;
        color: #ffffff !important;
        border: 2px solid #ffffff33 !important;
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }

  .event-rule {
    padding-left: 0;

    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 10px !important;


      &::before {
        content: url(components/hotpromo/LOL-msi-2024/images/description-icon.png);
        width: 1rem;
        transform: scale(0.5);
      }
    }
  }
}
