@font-face {
  font-family: "C9";
  src: url("./422-CAI978.ttf");
}

@font-face {
  font-family: "Jura";
  src: url("./Jura-Medium.ttf");
}

@font-face {
  font-family: "jp";
  src: url("./388-CAI978.ttf");
}

@font-face {
  font-family: "Wave";
  src: url("./310-CAI978.ttf");
}

@font-face {
  font-family: "vip";
  src: url("./484-CAI978.ttf");
}