$size-mobile-breakpoint: 700px;

$box-shadow-standard:  0 1px 6px 0 rgba(34, 35, 38, 0.18);

$dark-black: #0E121B;
$light-grey: #999ea6;
$primary: #222A34;
$menu-bg: #959dab;
$link: #EBEBEC;
$link-hover: #3d8183;
$link-active: #32ceed;
$color-white: #fff;
$color-meta: gray;
$color-danger: #dc3545;
$color-danger-highlight: #c82333;
$footer-black: #010104;
$footer-top: #0C0D14;
$footer-link: #959dab;
$blue-btn: #109eb5;
$grey-btn: #222a34;

$maxwidth: 1300px;

$border-width: 1px;
$border-radius: .25rem;
$border: #2a313e;

$font-weight-bold: 600;
$font-size-m: 18px;
$font-size-l: 32px;

$page-trans: all .5s ease-in-out;