@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
  font-family: "Wave";
  src: url("../fonts/310-CAI978.ttf");
}

/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
