$color-primary: #427786;
$color-primary-active: #1bcef1;
$color-tip: #76c034;

$primary-linear-background: linear-gradient(360deg, #A2D2FF -59.29%, #E0EFFF 72.14%);
$primary-linear-background-second: linear-gradient(104.75deg, #8EC1F7 39.58%, #4183D3 109.58%);
$primary-lightest-linear-background: linear-gradient(360deg, #A2D2FF -59.29%, #E0EFFF 72.14%);
$primary-lightest-linear-background-invert: linear-gradient(to right, #db7e42, #ffbd99);
$primary-color:#0071ed;
$primary-color-light: #f5faff;
$primary-color-lightest: #A2D2FF;

$low-piority-color: #efefef;
$low-piority-color-2: #cfcfcf;

$text-color: #000;
$text-color-reverse: #fff;

$border-settings: 1px solid #2b2b4b;

$container-width: 1450px;
$container-padding-inline: 1.25rem;
$false-padding: calc(50vw - calc($container-width / 2));
