// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0664D2;
$secondary: #B2BDBF;
$accent: #9c27b0;

$dark: #323738;
$dark-page: #131313;

$white: #ffffff;
$positive: #21EF89;
$negative: #FF3434;
$info: #31ccec;
$warning: #f2c037;
