@font-face {
  font-family: Oxanium;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(../assets/font/Oxanium-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Jura;
  src: url(../assets/font/Jura-Medium.ttf);
}

@font-face {
  font-family: trending;
  src: url(../assets/font/329-CAI978.ttf);
}
