*{
    box-sizing: content-box;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background: url(../assets/images/bg.png) no-repeat center center;
    display: flex;
    background-size: 100% 100%;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.q-header {
    padding: 3px 10px 8px;
    padding-top: calc(3px + env(safe-area-inset-top, 0));
    background: #f5f7fa;
    position: fixed;
    z-index: 888;
    width: 100%;
    top: 0;
}
.q-header.with-shadow {
    box-shadow: 0px -6px 6px 0px #c3d4e6 inset;
}
.logo img {
    width: 12px;
}
.header-actions {
    display: flex;
}
.page-title {
    align-items: center;
    color: #424f72;
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    position: relative;
    text-align: center;
    a {
        
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
    }
}
.back-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
}
.menu-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}