.light-bg {
  font-size: 14px;
  background-color: #f7f8fb;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px #a9c9ea inset;
  margin-bottom: 10px;
}

.form-field {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;

  .form-field-icon {
    margin: auto;
  }

  .el-form-item.is-error {
    margin-bottom: 15px !important;
  }
}

.agreement-and-forget-pass {
  display: flex;
  justify-content: space-between;

  .highlight {
    color: #5e8aee;
  }
}

.blue-bg {
  background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
  box-shadow: 0px -2px 4.58px 0px #b1d7ff inset, 0px -1px 3.664px 0px #5894ff inset;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
}

.primary-btn {
  margin-top: 20px;
  width: 100%;
}

.flex-div {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark {
  .light-bg {
    background-color: #273354;
    box-shadow: none;
    border: 1px solid rgba(217, 217, 217, 0.3);
    font-family: 'PingFang SC';
  }

  .font-gray {
    color: $font-3-dark;
  }

  .blue-bg {
    box-shadow: none;
    background-image: $active-color-dark-linear !important;
  }
}