.platform-section {
  background-image: url("../../assets/images/home/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: 0px;
  padding-bottom: 10px;
  width: 100%;
}

.platform-container-slot {
  overflow: hidden;
  height: 310px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.platform-container {
  max-width: $maxwidth;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 95px);

  &.slot-container {
    min-height: 300px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: -20px;
  }

  .platform-desc {
    color: #3063ab;
    font-size: 14px;
  }

  .platform-container-inner {
    display: grid;
    width: 100%;
    padding-right: 0px;
    gap: 100px;
    grid-template-columns: 52% 48%;
    min-height: 675px;
    overflow: visible;

    .platform-item {
      min-width: 320px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: flex-start;
      margin: auto 0;
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative;
      min-height: 675px;
      gap: 20px;

      &--img {
        justify-content: center;
        img {
          display: block;
          //width: 100%;
          transform: scale(1.25);
          width: 748px;
          max-width: 749px;
        }
      }

      .platform-title-wrap {
        /* IM体育 */
        font-family: "YiHei";
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 1.1;
        text-align: left;
        padding-top: 0px;
        text-align: center;

        //background: linear-gradient(180deg, #3AACFF 30.46%, #FF53F8 71.84%);
        // background: linear-gradient(180deg, #c2e9fb 0%, #a1c4fc 100%);

        //filter: drop-shadow(2px 1px #fff);
        position: relative;

        .platform-title {
          font-size: 5rem;
          font-weight: 400;
          word-break: keep-all;
          background: linear-gradient(180deg, #ae92ff 0%, #56c2ff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          filter: drop-shadow(2px 1px #5799e3);
        }

        .platform-subtitle {
          font-weight: 600;
          font-size: 3rem;
          letter-spacing: 0px;
          background: linear-gradient(180deg, #ae92ff 0%, #56c2ff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          filter: drop-shadow(2px 1px #5799e3);
        }
      }

      .platform-txt-box {
        color: #fff;
        max-width: 38rem;
        min-width: 45px;
        min-height: 50px;
        text-align: center;
      }

      .platform-pattern-row {
        img {
          height: 50px;
        }
      }

      .platform-list-box {
        display: flex;
        flex-wrap: wrap;
        max-width: 594px;
        //flex-wrap: nowrap;
      }

      .platform-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s all;
        width: 100px;
        font-family: "PingFang SC";

        .list-item-txt {
          text-align: center;
          white-space: nowrap;
          color: #b7c1ff;
          font-size: 16px;
          margin-top: -20px;
          white-space: pre-wrap;
        }

        &:hover,
        &.active {
          .list-item-txt {
            font-weight: bold;
            color: #fff;
          }
          .list-item-btn {
            background: url("../../assets/home/hotgame/game-bg-active.png") no-repeat center center;
            background-size: 100% 100%;

            .game-img {
              filter: grayscale(0);
            }
          }
        }

        .list-item-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transition: 0.3s all;
          cursor: pointer;
          background: url("../../assets/home/hotgame/game-bg.png") no-repeat center center;
          background-size: 100% 100%;
          aspect-ratio: 249 / 231;
          width: 150px;
          height: auto;

          .game-img {
            max-height: 42px;
            filter: grayscale(1);
          }

          // &:hover {
          //   background: url("../../assets/home/hotgame/game-bg-active.png") no-repeat center center;
          //   background-size: 100% 100%;

          //   .game-img {
          //     filter: grayscale(0);
          //   }
          // }
        }
      }

      .platform-play-btn {
        margin-top: 0.5rem;

        .maintenance-p {
          margin: 15px 3px;
          font-size: 16px;
          color: $font-1;

          em {
            font-weight: bold;
            font-style: initial;
          }
        }

        .btn-blue {
          height: 3rem;
          min-width: 155px;
          border-radius: 5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 2rem;
          font-size: 1.25rem;
          color: $color-white;
          background: $linear-bg;
          cursor: pointer;
          transition: 0.3s all;

          &.btn-maintenance {
            background: rgba(0, 0, 0, 0.3);
            pointer-events: none;

            .maintenance-state {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;

              img {
                width: 22px;
              }
            }
          }

          &:hover {
            filter: brightness(1.2);
          }

          &:active {
            filter: brightness(1.1);
            transform: translate(0px, 1px);
          }
        }
      }
    }
  }
}

// slot game list
.el-image {
  min-height: 120px;
  display: block;
  width: 100%;
  cursor: pointer;
}

@keyframes game-circle-ani {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUpAbit {
  from {
    transform: scale(1.1);
    transform-origin: center;
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes scale {
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes playzoom {
  0% {
    -webkit-transform: scale(2, 2);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes playzoom {
  0% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.recreation-money {
  padding-top: 240px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: #907438;
}

.banner-container {
  width: 100%;

  .promo-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.title-container {
  width: 100%;

  .game-title {
    position: relative;
    font-family: C9;
    color: #10a0cb;
    font-weight: 600;
  }

  &.large {
    padding: 50px 0 0 0;

    .game-title {
      font-size: 52px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        width: 46px;
        height: 36px;
        background-image: url("../../assets/images/common/title_large.png");
        background-repeat: no-repeat;
      }

      &::before {
        left: -64px;
      }

      &::after {
        transform: rotateY(180deg);
        right: -64px;
      }
    }
  }

  &.hot {
    padding-bottom: 10px;

    .game-title {
      font-size: 32px;
      line-height: 35px;

      &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 16px;
        background-image: url("../../assets/images/common/title_small.png");
        background-repeat: no-repeat;
        right: -36px;
        top: 10px;
      }
    }
  }
}

.game-container {
  overflow: hidden;
  padding: 1rem;
  max-width: $maxwidth;
  margin: 0 auto 5rem;

  border-radius: 2rem;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.22);

  .all-game-container {
    border-radius: 1.5rem;
    border: 1px solid #5c9fff;
    padding: 1rem;
    position: relative;

    .plat-options-wrapper {
      display: flex;
      justify-content: center;
    }

    .plat-options-container {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0.5rem;
      border-radius: 3rem;
      background: linear-gradient(180deg, #f8fbff 0%, #fdfeff 100%);
      box-shadow: 0px 2px 5px 0px #bbdcff inset, 0px -3px 4px 0px #a2bff4 inset;
    }

    .plat-option {
      cursor: pointer;
      border-radius: 3rem;
      padding: 0.2rem 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 2rem;
      min-width: 5rem;
      box-shadow: 0px -3px 6px 0px transparent inset, 0px -2px 4px 0px transparent inset;
      transition: 0.3s all;
      .text {
        color: #5894ff;
        font-size: 20px;
        font-weight: bold;
      }

      img {
        display: block;
        height: 100%;
        max-height: 42px;
      }

      &:hover {
        background: linear-gradient(180deg, #73b2ff60 0%, #3982ff69 100%);
        box-shadow: 0px -3px 6px 0px #b1d7ff inset, 0px -2px 4px 0px #5894ff inset;
        .text {
          color: #ffffff;
        }
      }

      &.active {
        background: linear-gradient(180deg, #73b2ff 0%, #3981ff 100%);
        box-shadow: 0px -3px 6px 0px #b1d7ff inset, 0px -2px 4px 0px #5894ff inset;
        .text {
          color: #ffffff;
        }
      }
    }

    .plat-games-container {
      width: 100%;
    }

    .search-container {
      display: flex;
      // margin-top: 2rem;
      padding: 1rem;
      justify-content: space-between;
      position: absolute;
      right: 15px;
      top: 15px;

      .search-input {
        // padding: 20px 20px 20px 30px;
        margin: 0 0 0 auto;
        max-width: 460px;
      }
    }

    .game-list-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      margin: 1rem;

      .game-slot {
        animation: 2s ease 0s 1 normal none running game-circle-ani;
        position: relative;
        border-radius: 1rem;
        background: #fff;
        padding: 0.5rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        a {
          display: block;
          text-align: center;
          position: relative;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 90px #fff inset;
            background-image: url(../../assets/game/play.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            opacity: 0;
            transition: all 0.3s ease-out;
            left: 0;
            z-index: 1;
          }

          &:hover {
            &::before {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              box-shadow: 0 0 20px #fff inset;
              // background-image: url(../../assets/game/play.png);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 25%;
              opacity: 1;
            }

            img {
              transform: scale(1.2);
            }

            .slot-name {
              img {
                opacity: 1;
                transition: all 0.3s ease-out;
                -webkit-animation: playzoom 0.5s;
                animation: playzoom 0.5s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
              }
            }
          }

          .slot-img {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            overflow: hidden;

            .el-image {
              height: 100%;
            }

            img {
              transition: all 0.5s ease;
            }
          }

          .slot-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
          }

          .slot-name {
            padding: 0.5rem 1rem;
            color: $font-grey;
            position: relative;
            color:#fff;

            img {
              width: 90px;
              margin-bottom: 10px;
              display: none;
              opacity: 0;
            }
          }

          .slot-fav {
            display: block;
            position: relative;
            z-index: 5;
            width: 2rem;
            height: 2rem;

            i {
              font-size: 1.5rem;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $font-grey;

              &:last-child {
                // display: none;
                opacity: 0;
                font-size: 1.75rem;
                transition: 0.3s all;
              }
            }

            &:hover,
            &.fav-on {
              i {
                color: $color-danger;

                &:last-child {
                  // display: block;
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;

  :deep(.el-pagination.is-background .el-pager li) {
    color: $font-4;
    font-weight: bold;
    background: $color-white;
    border: 1px solid #dfe3e8;
    border-radius: 6px;

    &:hover {
      filter: brightness(0.9);
    }
  }

  :deep(.el-pagination.is-background .el-pager li.is-active) {
    color: $accent;
    border-color: $accent;
  }

  :deep(.el-pagination.is-background .btn-next) {
    border: 1px solid #dfe3e8;
    background: $color-white;
    color: #919eab;
    border-radius: 6px;

    &:disabled {
      background: #919eab;
      color: $color-white;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  :deep(.el-pagination.is-background .btn-prev) {
    border: 1px solid #dfe3e8;
    background: $color-white;
    color: #919eab;
    border-radius: 6px;

    &:disabled {
      background: #919eab;
      color: $color-white;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.slot-iframe {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.game-cat-tabs {
  :deep(.el-tabs__nav-wrap::after) {
    background-color: transparent;
  }
}

.dark {
  .platform-section {
    // background-image: none;
    // background: $background-dark;
    background-image: url("../../assets/images/home/game-page-bg-dark.jpg");
    background-size: 100% 100%;
    background-color: #151f38;

    &:has(.slot-container) {
      background-image: url("../../assets/slot/slot-page-bg.jpg");
      background-size: 100% auto;
    }
  }

  .platform-container-slot {
    visibility: hidden;
  }

  .platform-container {
    .platform-container-inner {
      .platform-item {
        align-items: center;
        gap: 10px;
        .platform-title-wrap {
          .platform-title,
          .platform-subtitle {
            background: #fff;
            background-clip: text;
            filter: none;
            font-family: "YouSheBiaoTiHei";
          }
        }

        .platform-play-btn {
          .btn-blue {
            // background: $active-color-dark-linear;
            background: url("../../assets/images/home/menu/submenu-enter-game-btn.png");
            background-size: 100% 100%;
            box-shadow: $active-color-dark-shadow;
          }
        }

        .platform-txt-box {
          color: #fff;
          font-family: "PingFang SC";
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0.04em;
          text-align: center;
        }
      }
    }
  }

  .game-container {
    @include content-block-dark;
    background: $background-content-block-dark;

    .all-game-container {
      position: relative;
      border: none;
      &::after {
        @include gradient-border($active-color-dark-linear);
        border-radius: 1.5rem;
        background: rgba(121, 134, 255, 1);
      }

      .plat-options-container {
        background: #272f3d;
        box-shadow: none;
        .plat-option {
          .text {
            color: $font-1;
          }
          &.active {
            // background: $active-color-dark-linear;
            // box-shadow: $active-color-dark-shadow;
            background: url("../../assets/slot/button-bg.svg");
            background-size: 100% 100%;
            box-shadow: $active-color-dark-shadow;

            &.long {
              background: url("../../assets/slot/button-bg-long.svg");
              background-size: 100% 100%;
            }

            .text {
              color: $color-white;
            }
          }
        }
      }

      .game-list-wrapper {
        .game-slot {
          background: #ffffff0d;
          box-shadow: 0px 0px 10px 0px #0000001a;
        }
      }
    }
  }

  .pagination-wrapper {
    &:deep(.el-pagination) {
      .el-pager {
        li {
          background: #2c5252;
          border: 1px solid #dfe3e8;
          color: $color-white;

          &.is-active {
            background: $active-color-dark-linear;
            box-shadow: $active-color-dark-shadow;
            color: $color-white;
          }
        }
      }

      .btn-prev,
      .btn-next {
        background: #2c5252;
        color: #c4cdd5;
        border: 1px solid #dfe3e8;

        &:disabled {
          background: #919eab;
          color: #c4cdd5;
          border: none;
        }
      }
    }
  }
}
