@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura-Medium.ttf");
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFangNormal.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Wave";
  src: url("../fonts/310-CAI978.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
