@import "./font.scss";

html {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: #1a2338;
}
// app global css in SCSS form
body {
  //font-family: "Jura";
  background: #ffffff;
}
#q-app {
  // background: #11131f;
  // background: #1a1c28;
  background: #1a2338;
}
.q-layout,
.q-header,
.q-footer,
.q-page {
  max-width: 500px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  // display: none;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #212534;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b4b;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2b4b;
}
.q-toolbar {
  padding-top: env(safe-area-inset-top, 0);
  background: #2b2b4b;
  &__title {
    font-size: 16px;
  }
}
.q-page-container {
  /* Overwrite Quasars padding-top calculation by code to avoid wrong offset in iOS PWA when
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> is used. */

  // padding-top: env(safe-area-inset-top);

  // padding-top: calc(50px + env(safe-area-inset-top)) !important;
  // margin-bottom: calc(70px + env(safe-area-inset-top) + env(safe-area-inset-bottom)) !important;
}
.q-scrollarea__content {
  width: 100%;
  height: 100%;
}
body.body--dark {
  background: #1a2338;
}
body.body--dark .q-header {
  // background: url(../assets/images/common/bgheader.png) no-repeat top center;
  background: #1a2338;
  // border-radius: 0 0 20px 20px;
  background-size: cover;
}
.q-dialog__inner--minimized {
  padding: 0;
}
// body.platform-ios .q-dialog__inner--minimized > div, body.platform-android:not(.native-mobile) .q-dialog__inner--minimized > div {
//   max-height: unset;
// }

body.platform-ios .q-dialog__inner--minimized > div {
  max-height: calc(100% - 108px);
}
// .game-title {
//   // font-family: "Wave";
//   font-size: 50px;
//   line-height: 60px;
//   color: #db7e42;
//   text-align: center;
//   background-color: linear-gradient(to right, #de4545, #db7e42);
//   background-image: linear-gradient(to right, #de4545, #db7e42);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: #db7e42;
//   .menu-title {
//     color: #db7e42;
//     margin-bottom: 20px;
//     display: block;
//   }
// }
.page-title {
  min-height: 40px;
  // margin: 5px;
  color: #bacef1;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    display: block;
    position: absolute;
    left: 0;
    padding: 0;
    svg {
      display: block;
      width: 40px;
      fill: #bacef1;
    }
  }
}

body.body--dark .q-header,
body.body--dark .q-footer,
body.body--dark .q-drawer {
  max-width: 500px;
  margin: 0 auto;
}
body.body--dark .q-header {
  padding: 3px;
  padding-top: calc(3px + env(safe-area-inset-top, 0));
}
body.body--dark .q-footer {
  padding-bottom: calc(1px + env(safe-area-inset-bottom, 0));
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
svg {
  width: 25px;
  fill: #ffffff;
}
.q-carousel.vip {
  height: auto;
  text-align: center;
}
.q-carousel.home {
  height: 50vw;
  // border-radius: 20px;
  // margin: 10px;
  max-height: 240px;
  border-radius: 10px;
  .q-panel > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .q-carousel__navigation--bottom {
    bottom: 30px;
  }
}
.q-card {
  margin: 10px;
  border-radius: 10px;
}
.q-card__section--vert {
  padding: 0;
}
.login-card {
  .q-card__section--vert {
    padding: 10px;
  }
}
.q-footer {
  background-color: transparent;

  .q-focus-helper {
    visibility: hidden !important;
    display: none !important;
  }

  .q-tab {
    color: #7a899e;
    opacity: 1 !important;

    .menu-icon {
      &.account {
        display: block;
        padding: 8px;
        border-radius: 50%;
        background: #0f182e;
        box-shadow: 0px -2px 4px 1px rgba(255, 255, 255, 0.1);
        // margin-top: -6px;
        margin-bottom: 6px;

        img {
          display: block;
          max-width: 50px;
          width: 100%;
          padding: 3px;
          border-radius: 50%;
        }
      }
    }

    .menu-icon {
      &.inactive {
        display: block;

        padding: 0 6px;
        border-radius: 50%;
        // background: #0f182e;
        // box-shadow: 0px -3px 4.4px 0px #ffffff42;
        // margin-top: -2px;
        margin-top: 6px;
      }
      &.hover {
        display: none;
      }

      img {
        display: block;
        width: 100%;
        max-width: 40px;
        padding: 6px;
        border-radius: 50%;
        // background: #213057;
      }
    }
    &__indicator {
      display: none;
    }
    &--active {
      color: #33bcd4;
      .menu-icon {
        &.inactive {
          display: none;
        }
        &.hover {
          display: block;
          padding: 6px;
          border-radius: 50%;
          background: #0f182e;
          box-shadow: 0px -3px 4.4px 0px #ffffff42;
          margin-top: -2px;
        }

        img {
          display: block;
          max-width: 40px;
          width: 100%;
          padding: 6px;
          border-radius: 50%;
          background: #213057;
        }
      }
    }
  }
}
.q-splitter--dark .q-splitter__separator {
  background: none;
}
.q-tabs--vertical .q-tab__indicator {
  display: none;
}
.text-brand {
  color: #bacef1;
}
.bg-brand {
  background: #063c50;
}
.bg-neontb {
  background: #313542;
}
.text-neontb {
  color: #11aa66;
}
.text-bright {
  color: #33bcd4;
}
.bg-bright {
  background: #063c50;
  color: #26e6fb !important;
}
.bg-darkbox {
  background: linear-gradient(180deg, #384e79 2.08%, #2c3d61 47.5%, #212e4c 100%);
  border-radius: 8px;
  padding: 16px;
}

.bg-darkbtn {
  color: #00bfd7 !important;
  border: 2px solid #00bfd7;
}

.bg-blueborderbtn {
  background-color: transparent;
  color: #01bfd8 !important;
  border: 1px solid #01bfd8;
}

.bg-brightbtn {
  background: linear-gradient(180deg, #00c7c0 0%, #0996c7 100%);
  box-shadow: 0px 1px 4px 0px #ffffff inset;
  color: #ffffff;

  &:after {
    content: "";
    background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), transparent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    position: absolute;
  }
}
.bg-orangebtn {
  background: linear-gradient(180deg, #ff9d34 0%, #c76700 100%);
  box-shadow: 0px 1px 4px 0px #ffffff inset;
  color: #ffffff;

  &:after {
    content: "";
    background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), transparent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    position: absolute;
  }
}

.bg-dialog {
  background: linear-gradient(0deg, #213057, #213057),
    linear-gradient(180deg, #384e79 2.08%, #2c3d61 47.5%, #212e4c 100%);
}
.bg-darkbtn {
  background: #212534;
  color: #bacef1;
}
.bg-inputstyle {
  background: #ffffff1a;
}
.bg-recinputstyle {
  background: #273354;
  // box-shadow: 0px 0px 2.78px 0px #a9c9ea inset;
  // border: 1px solid #a9c9ea;
}
.bg-roundedinputstyle {
  background: #273354;
  border-radius: 32px !important;
}

.q-field--readonly{
  .bg-roundedinputstyle{
    &.q-field__control {
      background: #2A395A;
      padding-left: 16px;
    }

    .q-field__label{
      color: #FFFFFF99;
    }

    &.q-field__control:before {
      // border-style: solid;
    }
  }
}

.menu-title {
  color: #db7e42;
  background-image: linear-gradient(to right, #de4545, #db7e42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #db7e42;
  font-size: 28px;
  text-align: center;
  // font-family: Wave;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
}
.page-header {
  background-image: linear-gradient(to right, #de4545, #db7e42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #db7e42;
  font-size: 28px;
  text-align: center;
  // font-family: Wave;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
}
// .fullscreen {
//   max-width: 500px;
//   margin: 0 auto;
// }
// .q-body--fullscreen-mixin,
// .q-body--prevent-scroll {
//   max-width: 500px;
//   width: 100%;
//   margin: 0 auto;
//   right: 0;
// }
.q-field__marginal {
  font-size: 16px;
}
.q-field--filled.q-field--readonly .q-field__control:before {
  border-bottom: 0;
}
.q-field--readonly.q-field--float .q-field__native,
.q-field--readonly.q-field--float .q-field__input {
  color: #ffffff;
}

.q-btn-blue {
  background: linear-gradient(180deg, #00c7c0 0%, #0996c7 100%);
  box-shadow: 0px 1px 4px 0px #ffffff inset;

  &:after {
    content: "";
    background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), transparent);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 3px;
    position: absolute;
  }
}

.web {
  color: #a1a8cb;
  text-align: center;
  padding: 0 16px 10px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  width: 100%;

  span {
    width: 100%;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}

body.body-applinks {
  .q-page-container {
    &::before {
      position: absolute;
      left: 1px;
      top: 1px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      content: "";
      background-color: green;
      z-index: 99;
    }
  }
}
